* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-3-main-container {
  max-width: 120rem;
  /* max-height: 1024px; */
  height: 100vh;
  /* padding: 0 3.2rem; */
  margin: 0 auto;
  background-color: #2a2c32;
  display: flex;
  justify-content: space-between;
  position: relative;

  overflow-x: hidden;
}
/* .section-3-switch-style.PrivateSwitchBase-input.MuiSwicth-input {
  color: red;
} */
.section-3-left-main-container {
  margin: 60px 0px 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
  /* align-items: center; */
}
.section-3-border-container-name {
  position: absolute;
  color: white;
  padding: 0px 20px 0px 20px;
  bottom: 93%;
  overflow: hidden;
  background-color: #2a2c32;
}
.section-3-border-container {
  position: relative;
  width: 379px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 40px 30px 40px 30px;
  display: flex;
  gap: 20px;
}
.slider-style.MuiSlider-root {
  color: #d9d9d9;
}

/* right side STYLES */
.section-3-right-main-container {
  /* position: relative; */
}
.section-3-light-2 {
  position: absolute;
  left: 74.5%;
  top: 20%;
}
.section-3-light-3 {
  position: absolute;
  left: 60%;
  top: 24%;
}
.section-3-inner-circle {
  width: 750px;
  height: 750px;
  border: 10px solid #b3b3b3;
  border-radius: 50%;
  position: absolute;
  left: 60%;
  top: 2%;
}
